.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}
.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Adjust the height as needed */
  z-index: -10;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 70%;
  height: 70%;
}
.media-section {
  width: 50%;
  height: 100%;
  position: relative;
}
.media-section img {
  width: 200px;
  height: auto;
}

.media-section h1 {
  position: absolute;
  top: 135px;
  left: 20px;
}
.form {
  width: 50%;
  height: 100%;
}
